
.tag {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  
  padding: 2px 8px ;
  border-radius: 12px;

  text-transform: capitalize;
  font-size: 12px;
  line-height: 16px;
}

.grass-background{
 background-color: #74cb48;
}

.ghost-background{
  background-color: #70559b;
}

.ground-background{
  background-color: #dec16b;
}

.electric-background{
  background-color: #f9cf30;
}

.rock-background{
  background-color: #b69e31;
}

.dark-background{
  background-color: #75574c;
}

.fire-background{
  background-color: #f57d31;
}

.fairy-background{
  background-color: #e69eac;
}

.psychic-background{
  background-color: #fb5584;
}


